In [1]:
import gspread
from gspread_dataframe import set_with_dataframe
import os
import pandas as pd

In [2]:
# Make a list of CSV files only
csvfiles = [f for f in os.listdir('/home/jovyan/csvfolder/') if f.endswith('.csv')]
csvfiles.sort(key=os.path.getctime)

In [3]:
# Select latest file and print the file name
latest = csvfiles[-1]
print(f'Latest csv file: {latest}')

Latest csv file: alle-poster-public.csv

In [4]:
# Open data as CSV file
data = pd.read_csv(f'/home/jovyan/csvfolder/{latest}',
                   encoding='iso-8859-15',
                   sep=';',
                   decimal=',',
                  )

In [5]:
# Print data structure for sanity check
data

,Id,AccountId,AccountName,AccountType,Date,Description,OriginalDescription,MainCategoryId,MainCategoryName,CategoryId,...,Balance,CounterEntryId,Comment,Tags,Extraordinary,SplitGroupId,CustomDate,Currency,OriginalAmount,OriginalCurrency
0,111,1,A,Consumption,25-11-2001,REMA 1000----,DK-NOTA---- REMA 1000----,14,KontoA,132,...,9019.21,NaN,NaN,NaN,No,NaN,NaN,DKK,-100.20,DKK
1,112,1,A,Consumption,25-11-2001,Bilka----,MC debit kï¿œb Bilka----,14,KontoA,132,...,9336.41,NaN,NaN,NaN,No,NaN,NaN,DKK,-100.12,DKK
2,113,1,A,Consumption,25-11-2001,REMA 1000----,DK-NOTA---- REMA 1000----,14,KontoA,132,...,9706.53,NaN,NaN,NaN,No,NaN,24-11-2001,DKK,-130.95,DKK

In [6]:
# authorize to open document
#gc = gspread.service_account(filename='/home/jovyan/csvfolder/your.json')

In [7]:
# open regnskabet
#gc.list_spreadsheet_files()

# open the sheet
#regnskab = gc.open('Potten Regnskab')

In [8]:
# select the correct sheet
#poster = regnskab.worksheet('Poster_public')

In [9]:
# offload data...
#set_with_dataframe(poster, data)