In [1]:
import gspread
from gspread_dataframe import set_with_dataframe
import os
import pandas as pd

In [2]:
# Make a list of CSV files only
csvfiles = [f for f in os.listdir('/home/jovyan/csvfolder/') if f.endswith('.csv')]
csvfiles.sort(key=os.path.getctime)

In [3]:
# Select latest file and print the file name
latest = csvfiles[-1]
print(f'Latest csv file: {latest}')

Latest csv file: alle-poster-2022-05-14.csv

In [4]:
# Open data as CSV file
data = pd.read_csv(f'/home/jovyan/csvfolder/{latest}',
                   encoding='iso-8859-15',
                   sep=';',
                   decimal=',',
                  )

In [5]:
# Print data structure for sanity check
data

,Id,AccountId,AccountName,AccountType,Date,Description,OriginalDescription,MainCategoryId,MainCategoryName,CategoryId,...,Balance,CounterEntryId,Comment,Tags,Extraordinary,SplitGroupId,CustomDate,Currency,OriginalAmount,OriginalCurrency
0,637417472179513331,637417472178576255,Madkonto,Consumption,25-11-2019,REMA 1000 ÅRHUS C,DK-NOTA38787 REMA 1000 ÅRHUS C,14,Husholdning,132,...,9019.21,NaN,NaN,NaN,No,NaN,NaN,DKK,-317.20,DKK
1,637417472179513332,637417472178576255,Madkonto,Consumption,25-11-2019,Bilka Tilst,MC debit køb Bilka Tilst,14,Husholdning,132,...,9336.41,NaN,NaN,NaN,No,NaN,NaN,DKK,-370.12,DKK
2,637417472179513333,637417472178576255,Madkonto,Consumption,25-11-2019,REMA 1000 ÅRHUS C,DK-NOTA38650 REMA 1000 ÅRHUS C,14,Husholdning,132,...,9706.53,NaN,NaN,NaN,No,NaN,24-11-2019,DKK,-13.95,DKK
3,637417472179513334,637417472178576255,Madkonto,Consumption,25-11-2019,REMA 1000 ÅRHUS C,DK-NOTA38571 REMA 1000 ÅRHUS C,14,Husholdning,132,...,9720.48,NaN,NaN,NaN,No,NaN,24-11-2019,DKK,-93.40,DKK
4,637417472179513335,637417472178576255,Madkonto,Consumption,25-11-2019,KLOSTER FRUGT,DK-NOTA 1992 KLOSTER FRUGT,14,Husholdning,132,...,9813.88,NaN,NaN,NaN,No,NaN,23-11-2019,DKK,-54.00,DKK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2802,637878584567239764,637417472178576255,Madkonto,Consumption,10-05-2022,Superb Vesterbro T,DK-NOTA19574 SUPERB VESTERBRO T,14,Husholdning,132,...,25234.56,NaN,NaN,NaN,No,NaN,NaN,DKK,-102.80,DKK
2803,637878584567239763,637417472178576255,Madkonto,Consumption,11-05-2022,Superb Vesterbro T,DK-NOTA13246 SUPERB VESTERBRO T,14,Husholdning,132,...,25205.26,NaN,NaN,NaN,No,NaN,NaN,DKK,-29.30,DKK
2804,637879438966365753,637417472325284551,Festkonto,Consumption,11-05-2022,Mobilepay Marie Lang,MOBILEPAY MARIE LANG,17,Privatforbrug,156,...,7906.05,NaN,#Ølregnskab,Ølregnskab,No,NaN,NaN,DKK,24.00,DKK
2805,637879438966365754,637417472325284551,Festkonto,Consumption,11-05-2022,Mobilepay Frederik,MOBILEPAY FREDERIK,17,Privatforbrug,156,...,7882.05,NaN,#Ølregnskab,Ølregnskab,No,NaN,NaN,DKK,180.00,DKK
2806,637880296537711961,637417472178576255,Madkonto,Consumption,12-05-2022,FACTUM Books,MC debit køb FACTUM Books,16,Andre leveomkostninger,189,...,25202.26,NaN,NaN,NaN,No,NaN,NaN,DKK,-3.00,DKK

In [6]:
# authorize to open document
gc = gspread.service_account(filename='/home/jovyan/csvfolder/potten-8f218754dd55.json')

In [7]:
# open regnskabet
#gc.list_spreadsheet_files()
regnskab = gc.open('Potten Regnskab')

In [8]:
# select the correct sheet
poster = regnskab.worksheet('Poster')

In [9]:
# offload data...
set_with_dataframe(poster, data)